@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600&family=Poppins:wght@600&display=swap');

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#weather {
  display: flex;
  position: absolute;
  top: 2vh;
  right: 0;
  left: 1vh
  width: 500px;
  height: 5vh;
}

#weather h1{
  color: rgb(255, 255, 255);
  font-size: .9rem;
}

.results-container {
  width: 400px;
}