@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600&display=swap');

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#weather {
  display: flex;
}

#weather h1{
  color: white;
  font-size: 1.2rem;
}

.results-container {
  width: 400px;
}